<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AzubiTalk</title>

    <link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

        <!-- NAVBAR -->
        <nav class="navbar">

            <div class="logo">
                AzubiTalk.
            </div>

        </nav>
        <!-- HOME PAGE -->
        <div id="home-page">

        <!-- HERO -->
        <section class="hero">

            <h1>
                Deine Fragen zur Ausbildung
            </h1>

            <p>
                Stelle Fragen, teile Erfahrungen und finde Antworten von der Community
            </p>


            <!-- SEARCH -->
            <div class="search-box">

                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg"
                width="22" height="22" fill="none"

              viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-4.35-4.35m1.85-5.15
                a7 7 0 11-14 0
                a7 7 0 0114 0z" />

                </svg>

                <input

                    type="text"

                    id="searchInput"

                    placeholder="Suche nach Fragen oder Themen...">

             </div>


            <!-- BUTTON -->
            <a href="#ask-page" class="ask-btn">
                Frage stellen
            </a>

        </section>


        <!-- CATEGORIES -->
        <section class="categories">
            <button class="active" data-category="Alle">Alle</button>
            <button data-category="IT">IT</button>
            <button data-category="Pflege">Pflege</button>
            <button data-category="Handwerk">Handwerk</button>
            <button data-category="Technik">Technik</button>
            <button data-category="Medien">Medien</button>
            <button data-category="Bankwesen">Bankwesen</button>
        </section>


        <!-- MAIN -->
        <main class="container">

            <!-- POSTS -->
            <section class="posts">

                {% for post in posts %}
                <a class="post-link" href="/post/{{ post.id }}" data-category="{{ post.category }}">
                <article class="post">

                    <div class="votes">
                        <button class="upvote-btn">▲</button>
                        <span class="vote-count">{{ post.votes }}</span>
                    </div>

                    <div class="post-content">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>

                        <div class="tags">
                            {% for tag in post.tags %}
                            <span>{{ tag }}</span>
                            {% endfor %}
                        </div>

                        <div class="meta">
                            {% if post.category != "None" %}
                            <span>{{ post.category }}</span>
                            {% endif %}
                            <span>{{ post.author.first_name }} {{ post.author.last_name }}</span>
                            <span>{{ post.answer_count }} Antworten</span>
                        </div>
                    </div>

                </article>
                </a>
                {% endfor %}

            </section>
                
            <!-- SIDEBAR -->
            <aside class="sidebar">
                <details open>           <!--** added line details+summary -->
                    <summary class="sidebar-toggle">Beliebte Fragen &amp; Tags</summary>

                    <div class="box">

                        <h3>
                            Beliebte Fragen
                        </h3>

                        <ul>

                            <li>IT Ausbildung</li>
                            <li>Gehalt</li>
                            <li>Prüfungen</li>
                            <li>Bewerbung</li>

                        </ul>

                    </div>


                    <div class="box">

                        <h3>
                            Beliebte Tags
                        </h3>

                        <div class="tag-cloud">

                            <span>IT</span>
                            <span>Prüfung</span>
                            <span>Karriere</span>
                            <span>Netzwerk</span>

                        </div>

                    </div>

                </details>
            </aside>

        </main>

    </div>

<!-- ASK PAGE -->
    <section id="ask-page" class="page ask-page">

        <form action="/add-post" method="POST">
            
            <h1>
                Neue Frage stellen
            </h1>
            
            <p>
                Stelle deine Frage zur Ausbildung und erhalte Hilfe von der Community
            </p>
            
            <h2>Titel deiner Frage</h2>
            
            <input type="text" name="title" placeholder="z.B Wie finde ich die richtige Ausbildung">
            
            <small class="hint">
                Formuliere eine klare und präzise Frage
            </small>
            
            <textarea name="content" placeholder="Erkläre deine Situation genauer und was du wissen möchtest..."></textarea>
            
            <small class="hint">
                Je detaillierter, desto besser können andere dir helfen
            </small>


            <h2>Wähle die passende Kategorie</h2>

            <select name="category">
                <option value="None">Allgemein</option>
                <option value="IT">IT</option>
                <option value="Pflege">Pflege</option>
                <option value="Handwerk">Handwerk</option>
                <option value="Technik">Technik</option>
                <option value="Medien">Medien</option>
                <option value="Bankwesen">Bankwesen</option>
            </select>


            <h2>Tags</h2>
            <button type="button" id="toggle-tags-btn">Tags hinzufügen</button>

            <div id="tag-selector" style="display:none; flex-wrap:wrap; gap:12px; margin-top:10px;">
                <button type="button" class="tag-btn" data-value="Berufsorientierung">Berufsorientierung</button>
                <button type="button" class="tag-btn" data-value="Karriere">Karriere</button>
                <button type="button" class="tag-btn" data-value="Ausbildung">Ausbildung</button>
                <button type="button" class="tag-btn" data-value="Gehalt">Gehalt</button>
                <button type="button" class="tag-btn" data-value="Bewerbung">Bewerbung</button>
                <button type="button" class="tag-btn" data-value="Berufsschule">Berufsschule</button>
                <button type="button" class="tag-btn" data-value="Prüfung">Prüfung</button>
                <button type="button" class="tag-btn" data-value="Lerntipps">Tipps</button>
                <button type="button" class="tag-btn" data-value="Praktikum">Praktikum</button>
                <button type="button" class="tag-btn" data-value="Berichtsheft">Berichtsheft</button>
                <button type="button" class="tag-btn" data-value="IHK">IHK</button>
                <button type="button" class="tag-btn" data-value="Lerngruppe">Lerngruppe</button>
                <button type="button" class="tag-btn" data-value="Fachinformatiker">Fachinformatiker</button>
                <button type="button" class="tag-btn" data-value="Anwendungsentwicklung">Anwendungsentwicklung</button>
                <button type="button" class="tag-btn" data-value="Systemintegration">Systemintegration</button>
                <button type="button" class="tag-btn" data-value="Python">Python</button>
                <button type="button" class="tag-btn" data-value="HTML-CSS">HTML-CSS</button>
                <button type="button" class="tag-btn" data-value="Linux">Linux</button>
                <button type="button" class="tag-btn" data-value="Java">Java</button>
                <button type="button" class="tag-btn" data-value="Offtopic">Offtopic</button>

            </div>


            <div id="tag-inputs"></div>
            

            <div class="form-actions">

                <button type="submit" class="publish-btn">
                    Veröffentlichen
                </button>

                <a href="#home-page" class="back-btn">
                    Zurück
                </a>

             </div>

        </form>

    </section>

<!-- Search script -->
    <script>
    if(window.innerWidth < 900){
        document.querySelector('.sidebar details').removeAttribute('open');
    }
    </script>

    <script>

    const searchInput = document.getElementById("searchInput");
    const posts = document.querySelectorAll(".post");

    searchInput.addEventListener("input", function(){

    const searchText = searchInput.value.toLowerCase();

    posts.forEach(post => {

        const postText = post.innerText.toLowerCase();

        if(postText.includes(searchText)){
            post.style.display = "flex";
        }
        else{
            post.style.display = "none";
        }

    });

});
    </script>  

<!-- Upvotes script -->
   <script>
    const voteButtons = document.querySelectorAll(".upvote-btn");

    voteButtons.forEach(button => {

        button.addEventListener("click", async function(event){

            event.preventDefault();
            event.stopPropagation(); <!-- weil sonst beim Klick auf Upvote der Post geöffnet wird und der Upvote nicht stattfindet-->

            const counter = button.parentElement.querySelector(".vote-count");
            const postId = button.closest(".post-link").href.split("/").pop();

            const response = await fetch(`/upvote/${postId}`, { method: "POST" });
            const data = await response.json();

            counter.innerText = data.votes;

        });

    });

    </script>


    <!-- Kategorie-Filter Script -->
    <script>
    const categoryButtons = document.querySelectorAll(".categories button");
    const postLinks = document.querySelectorAll(".post-link");

    categoryButtons.forEach(button => {
        button.addEventListener("click", function() {

            categoryButtons.forEach(b => b.classList.remove("active"));
            button.classList.add("active");

            const selectedCategory = button.dataset.category; 

            postLinks.forEach(link => {
                const postCategory = link.dataset.category;

                if (selectedCategory === "Alle" || postCategory === selectedCategory) {
                    link.style.display = "block";
                } else {
                    link.style.display = "none";
                }
            });
        });
    });
    </script>


    <!-- Tags Script -->

    <script>
    document.getElementById("toggle-tags-btn").addEventListener("click", function() {
        const selector = document.getElementById("tag-selector");
        const open = selector.style.display === "flex";
        selector.style.display = open ? "none" : "flex";
        this.innerText = open ? "Tags hinzufügen" : "Tags schließen";
    });

    document.querySelectorAll(".tag-btn").forEach(button => {
        button.addEventListener("click", function() {
            this.classList.toggle("active");

            // versteckte Inputs aktualisieren
            const tagInputs = document.getElementById("tag-inputs");
            tagInputs.innerHTML = "";
            document.querySelectorAll(".tag-btn.active").forEach(btn => {
                const input = document.createElement("input");
                input.type = "hidden";
                input.name = "tags";
                input.value = btn.dataset.value;
                tagInputs.appendChild(input);
            });
        });
    });
    </script>

</body>

</html>
